@import "reset.css";

body {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: gainsboro;
  padding: 20px;
}

canvas {
  width: 800px;
  height: 800px;
  background-color: white;
  border-radius: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in-out 0.1s;
  border: 5px solid white;
}

.color-option:hover {
  transform: scale(1.2);
}

input#color {
  background-color: white;
}

button,
label {
  all: unset;
  padding: 10px 0px;
  text-align: center;
  background-color: royalblue;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition: opacity linear 0.1s;
}

button:hover {
  opacity: 0.85;
}

input#file-input {
  display: none;
}

input#text-input {
  all: unset;
  padding: 10px 0px;
  border-radius: 10px;
  font-weight: 500;
  background-color: white;
  text-align: center;
}

input#width-input,
input#height-input {
  all: unset;
  text-align: center;
  padding: 10px 0px;
  border-radius: 10px;
  background-color: white;
  font-weight: 500;
  width: 50px;
}

select {
  border-radius: 10px;
  height: 40px;
  font-weight: 500;
  text-align: center;
  border: 0px;
}

input#brush-size {
  all: unset;
  text-align: center;
  font-weight: 500;
  width: fit-content;
}

.draw-btns {
  display: flex;
}

.draw-btns button {
  flex: 1;
  width: 50%;
  margin: 5px;
}

.text-radios {
  text-align: center;
}

.text-radios label {
  all: unset;
  margin-right: 20px;
}

.state {
  background-color: white;
  color: black;
}

input#ctx-state {
  all: unset;
  width: 50px;
  text-align: center;
}

input#brush-state {
  all: unset;
  width: 50px;
  text-align: center;
}

.text-size {
  background-color: white;
  color: black;
}

.text-size input[type="number"] {
  width: 60px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
